    /*
    Flaticon icon font: Flaticon
    Creation date: 11/08/2018 18:19
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-puzzle-pieces:before { content: "\f100"; }
.flaticon-objective:before { content: "\f101"; }
.flaticon-gears:before { content: "\f102"; }
.flaticon-creative:before { content: "\f103"; }
.flaticon-computer:before { content: "\f104"; }
.flaticon-pie-chart:before { content: "\f105"; }
.flaticon-arrows:before { content: "\f106"; }
.flaticon-expand:before { content: "\f107"; }
.flaticon-move:before { content: "\f108"; }
.flaticon-move-1:before { content: "\f109"; }
.flaticon-piggy-bank:before { content: "\f10a"; }
.flaticon-money:before { content: "\f10b"; }
.flaticon-handshake:before { content: "\f10c"; }
    
    $font-Flaticon-puzzle-pieces: "\f100";
    $font-Flaticon-objective: "\f101";
    $font-Flaticon-gears: "\f102";
    $font-Flaticon-creative: "\f103";
    $font-Flaticon-computer: "\f104";
    $font-Flaticon-pie-chart: "\f105";
    $font-Flaticon-arrows: "\f106";
    $font-Flaticon-expand: "\f107";
    $font-Flaticon-move: "\f108";
    $font-Flaticon-move-1: "\f109";
    $font-Flaticon-piggy-bank: "\f10a";
    $font-Flaticon-money: "\f10b";
    $font-Flaticon-handshake: "\f10c";